.button-stripped.remove-button {
  margin-bottom: 0;
  line-height: 1;
  padding: 0;
}

.button-default.remove-all {
  background-color: #fb4249;
}

.button-default.remove-all:hover, .button-default.remove-all:focus {
  background-color: #fd131c;
}

.button-outlined.win-button {
  margin-right: 0;
}
